* { margin:0; padding:0; box-sizing:border-box; overflow-x: hidden;}

// variable
// $gray: #eee!important;
// $dark: #333!important;
// $danger: #ff6666!important;
// $orange: #fd7d24!important;

:root{
  --color-gray:#eee!important;
  --color-dark: #333!important;
  --color-success: #6fdc6f!important;
  --color-danger: #ff6666!important;
  --color-orange: #fd7d24!important;
}


.vw-100{
  width: 100vw;
  max-width: 100vw;
}
.vh-100{
  height: 100vw;
  max-height: 100vw;
}
.my-10{
  margin-top:10px;
  margin-bottom: 10px;
}
.my-30{
  margin-top:30px;
  margin-bottom: 30px;
}
.mx-10{
  margin-left:10px!important;
  margin-right: 10px!important;
}
.mx-20{
  margin-left:20px!important;
  margin-right: 20px!important;
}
.p-10{
  padding: 10px;
}
.px-20{
  padding-left: 20px;
  padding-right: 20px;
}
.radius-20{
  border-radius: 20px;
}
.bg-gray{
  background-color: var(--color-gray);
}

.bg-dark{
  background-color: var(--color-dark);
  color:white;
}

.button {
  background-color: var(--color-orange); 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button-secondary {background-color: var(--color-gray); color: var(--color-dark);}  
.button-danger {background-color: var(--color-danger);}

.text-center{
  text-align: center;
}

.text-uppercase{
  text-transform: uppercase;
}
.text-capitalize{
  text-transform: capitalize;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 20%;
  padding: 10px;
}

.column-50{
  width: 50%;
}
.column-75{
  width: 75%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the four columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}